* {
  box-sizing: border-box;
}

:root {
  --blurRadius-1: 12rem;
  --blurRadius-2: 14rem;
}

html {
  background: #000000;
  user-select: none;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 10px;
  color: #ffffff;
}

h1 {
  font-size: 2.4rem;
  line-height: 136%;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 144%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease-in;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}

header {
  width: 100%;
  padding: 1.6rem;
  position: fixed;
  top: 0;
  z-index: -1;
}

header .logo {
  opacity: 0.32;
}

.intro {
  width: 100%;
  max-width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.cardMantra {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
  border-radius: 1.25rem;
  outline: 1px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  outline-offset: -1px;
  filter: saturate(1.5);
  background-color: #000000;
}

.cardMantra .innerContent {
  height: 100%;
  position: relative;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: lighten;
}

.cardMantra .innerContent .details > :first-child {
  margin-bottom: 0.8rem;
}

#piece,
#author,
#origin {
  opacity: 0.64;
  mix-blend-mode: overlay;
}

#origin {
  opacity: 0.4;
}

.cardMantraBG {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.c1,
.c2,
.c3 {
  display: block;
  position: absolute;
  width: 40vh;
  height: 40vh;
  filter: blur(var(--blurRadius-2));
}
.c1 {
  transform: translate(20%, 100%);
  background: #2a0083;
}

.c2 {
  transform: translate(90%, -20%);
  background: #ff9900;
}

.c3 {
  transform: translate(-50%, 0%);
  background: #dc06bc;
}

footer.actions {
  display: flex;
  justify-content: space-around;
  gap: 0.4rem;
  margin-top: 0.4rem;
  padding: 2rem;
}

.iconBtn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.32);
  border-radius: 500rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.iconBtn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.48);
  text-decoration: none;
}

.iconBtn:active {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

#btnRefresh:active span {
  transform: rotateZ(180deg);
  transition: all 0.2s ease-in;
}

.about {
  padding: 2rem;
  color: rgb(90, 90, 90);
}
